@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    border: 2px solid #e4816b;
    background: #e4816b;
    color: #ffff;

    text-align: center;
    font-weight: 700;
    border-radius: 40px;
    padding-block: 0.35rem;
    font-weight: 500;
  }
  .button-sec {
    border: 3px solid #e4816b;

    color: #e4816b;
    padding-block: 5px;
    text-align: center;
    border-radius: 40px;
    padding-block: 0.3rem;
    font-weight: 600;
  }

  .button-inactive {
    background-color: grey;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    padding-block: 0.25rem;
  }

  .searchBar {
    border: 1px solid #bababa;
    color: black;

    text-align: center;
    border-radius: 40px;
    padding-block: 0.25rem;
    font-weight: 400;
    outline: none;
  }

  .searchBar:focus {
    border: 1px solid #868686;
    background-color: #fffefe;
  }

  .searchBar::placeholder {
    color: #bababa;
  }

  .chip {
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
    /* background-color: #f0f0f0; */

    padding: 4px 12px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 40px;

    font-weight: 400;
  }

  .chip-active {
    background-color: #464646;
    border: 1px solid #464646;
    color: white;

    padding: 4px 12px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 40px;

    font-weight: 600;
  }
}
