@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    border: 2px solid #e4816b;
    background: #e4816b;
    color: #ffff;

    text-align: center;
    font-weight: 700;
    border-radius: 40px;
    padding-block: 0.35rem;
    font-weight: 400;
  }
  .button-sec {
    border: 3px solid #e4816b;

    color: #e4816b;
    padding-block: 5px;
    text-align: center;
    border-radius: 40px;
    padding-block: 0.25rem;
    font-weight: 600;
  }

  .button-inactive {
    background-color: grey;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    padding-block: 0.25rem;
  }

  .searchBar {
    border: 2px solid #bababa;
    color: #bababa;
    background-color: #e9e9e9;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    padding-block: 0.25rem;
    font-weight: 400;
  }
  .searchBar:focus {
    border: 2px solid #e4816b;
    width: 100%;
    text-align: left;
    border-radius: 40px;
    padding-block: 0.25rem;
    font-weight: 600;
  }

  .chip {
    border: 2px solid #bababa;
    color: #999999;
    background-color: #e9e9e9;

    padding: 3px 8px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 40px;

    font-weight: 600;
  }

  .chip-active {
    background-color: #bcb8b5;
    border: 2px solid #bcb8b5;
    color: white;

    padding: 3px 8px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 40px;

    font-weight: 600;
  }
}
